venv
.idea
.DS_Store
.pytest_cache
.venv
__pycache__
credentials.py
.env
.vscode
settings.json
info.ipynb
allure-results/
allure-report/
allure-reports/
.github
test_mem_api/.meme_token
test_mem_api/.pytest_cache/
